


.side-menu .menu-items-wrapper .menu-items-list>li.active, .side-menu .dropdown-block .sub-menu-container .menu-items-list>li.active {
    background-color: #7a8186;
	 white-space: nowrap;
    overflow: hidden;
	padding: 5px 0;

}

.side-menu .side-menu-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
	background-color: #7a8186;
}


.side-menu .menu-items-wrapper .menu-items-list>li .menu-item .menu-item-name, .side-menu .dropdown-block .sub-menu-container .menu-items-list>li .menu-item .menu-item-name {
    white-space: nowrap;
    overflow: hidden;
    transition: all .3s ease-in-out;
		padding-left: 30px;
}
